/* Default (for larger screens like desktop) */
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100vw;
    height: 80vh;
}

.header-image {
    width: 100vw;
    height: 80vh;
    position: absolute;
}

.header-blur {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 80vh;
    background: linear-gradient(180deg,rgba(0,0,0,.6),rgba(0,0,0,.6));
    backdrop-filter: blur(64px);
    mask: radial-gradient(59.02% 100% at 50% 0,transparent 0,transparent 23.85%,#000 100%);
}

.header-text {
    padding: 4%;
    position: relative;
    top: 72%;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

p {
    color: rgba(240, 248, 255, 0.334);
}




/* Tablet-specific styles */
@media (max-width: 1024px) {
    body {
        font-size: 17px;
    }
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        display: block;
    }

}